<!DOCTYPE html>
<html lang="en">
<head>
  <title> Home Page </title>
  <h2> Mushroom Classifier Home </h2>
  <h3> By Matteo Vidali </h3>
  <h4> Credits </h4>
  <p>
    Data set used for machine learning dataset was:<br>
    <a href="https://www.kaggle.com/uciml/mushroom-classification">
      Kaggle Mushroom Dataset: UCI Machine Learning 
    </a>
  </p>
</head>

<body>
  <h3> Description </h3>
    <p>
      This is a application to predict the edibility of a mushroom by a number of features<br>
      Notably, in this version the features used are bruising, odor, and gill-size.<br>
      This application uses a feature selected random forest classifier to classify the features.<br>
      an image classification application is in the works, feel free to post a photo to help in training!
    </p>

  <h3> Using this application</h3>
  <p> This application has the following endpoints: 
    <ul>
      <li>info</li>
      <li>permissions</li>
      <li>prediction(get)</li>
      <li>prediction(post)</li>
      <li>and upload(post)</li>
    </ul>
  You can use this application headless in the terminal, or on this webpage.<br>
  <br>
  Go to <b>/info</b> to see how to fillout the prediction form<br>
  Go to <b>/prediction/[anything]</b> to download the fillout form<br>
  Post the fillout form to <b>/prediction/[filename]</b> to process the form<br>
  Go to <b>/permissions</b> to check what info will be stored and to revoke/accept form<br>
  </p>
</body>
</html>
